<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WRtest1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5499DEB51C0CEF5C00753201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5499DECB1C0CEF5D00753201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5499DED61C0CEF5D00753201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
